# ───────────────────────── Keybinds ─────────────────────────
# Modes
toggle_dark_mode i
toggle_synctex L
synctex_under_cursor H
toggle_two_page_mode D
toggle_statusbar <C-n>

# Zoom
zoom_in =
zoom_out -

# Movement
move_right h
move_down j
move_up k
move_left l

next_page J
previous_page K

#screen_down d
#screen_up u
#screen_down J
#screen_up K

