.DS_Store
.claude
CLAUDE.md

# Dots
config/mpd/database
config/mpd/log
config/mpd/playlists
config/ncmpcpp/error.log
config/zsh/history
config/zsh/.zcompdump
config/nvim/lazy-lock.json

# qBittorrent
config/qBittorrent/*
!config/qBittorrent/themes/

# Emacs
config/emacs/.org-id-locations
config/emacs/auto-save-list
config/emacs/eln-cache
config/emacs/elpa
config/emacs/emojis
config/emacs/history
config/emacs/ltximg
config/emacs/org-persist
config/emacs/org-roam.db
config/emacs/perps-save
config/emacs/projectile-bookmarks.eld
config/emacs/recentf
config/emacs/straight
config/emacs/transient

# Emacs backup files
.#*
\#*.org\#
result
result-*
