# Check and implement this plugins
# Also see which configuration to save

local map = vim.api.nvim_set_keymap
local opts = { noremap = true, silent = true }

map("n", "<leader>e", ":NvimTreeToggle<CR>", opts)  -- Open file explorer

lightline
web-devicons

Oil
illuminate
nvim-tree (filters.dotfiles option)
autopairs
indent-blankline

-- Nix
mapping = {
    #"<C-Space>" = "cmp.mapping.complete()";
    "<C-d>" = "cmp.mapping.scroll_docs(-4)";
    "<C-f>" = "cmp.mapping.scroll_docs(4)";
    "<C-e>" = "cmp.mapping.close()";
    "<Escape>" = "cmp.mapping.abort()";

    "<CR>" = "cmp.mapping.confirm({ select = true })";
    "<Tab>" = "cmp.mapping(cmp.mapping.select_next_item(), {'i', 's'})";
    "<S-Tab>" = "cmp.mapping(cmp.mapping.select_prev_item(), {'i', 's'})";
    "<Down>" = "cmp.mapping(cmp.mapping.select_next_item(), {'i', 's'})";
    "<Up>" = "cmp.mapping(cmp.mapping.select_prev_item(), {'i', 's'})";
};

    	opts = {

		    # Tab / Indentation
		    expandtab = true;
		    shiftwidth = 4;
		    smartindent = true;
		    softtabstop = 2;
		    tabstop = 4;
		    wrap = true;

		    # Appearance
		    cmdheight = 1;
		    colorcolumn = "";
		    #colorcolumn = "100";
		    completeopt = "menuone,noinsert,noselect";
		    number = true;
		    scrolloff = 10;
		    signcolumn = "yes";
		    termguicolors = true;
            fillchars.eob = " "; # Replace the empty lines `~` for a space. 

		    # Search
		    hlsearch = false;
		    ignorecase = true;
		    incsearch = true;
		    smartcase = true;

		    # Split behaviour
		    splitbelow = true;
		    splitright = true;

	    	# Behaviour
		    mouse = "a";
		    hidden = true;
		    errorbells = false;
		    swapfile = false;
            virtualedit = "block"; # Allow cursor to move where there is no text in visual block mode.
	    };
